# --- Dependencies ---
node_modules/
  
# --- Build & Dist ---
dist/
web-build/
uploads/

# --- Expo / React Native ---
.expo/
android/.gradle
android/keystores/release.keystore
*.apk

# --- Certificates & Keys ---
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# --- Metro Bundler ---
.metro-health-check*

# --- Debug Logs ---
npm-debug.*
yarn-debug.*
yarn-error.*
access.log

# --- macOS ---
.DS_Store

# --- Local Env Files ---
.env
.env*.local

# --- TypeScript ---
*.tsbuildinfo

# --- Editor ---
.vscode

