# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserdatad/
xcuserdata/
*.xcuserstate

# SwiftPM
.swiftpm/
.build/
Package.resolved

# Secrets / Local config
GoogleService-Info.plist
SupabaseConfig.plist

.env
.env.*

# Logs
*.log
